<main id="main-app" >
	<div style="display:none">
	    <input type="text" value="{{dataSources.assets}}" ng-model="dataSources.assets" />
	    <input type="text" value="{{dataSources.api}}" ng-model="dataSources.api" />
	    <input type="text" value="{{dataSources.angular}}" ng-model="dataSources.angular" />
    </div>
    <sol-tabs id="main-view" data-loggedin="{{isAuthenticated}}" selected="{{defaultTab}}">
    	<ambiance-pane
    		ng-ig="isAuthenticated"
    		tab-authenticated="{{isAuthenticated}}"
    	    tab-id="ambiance-pane"
            tab-title="Ambiance"
            tab-icon="ambiance" ></ambiance-pane>
    	<user-login
    		ng-ig="!isAuthenticated"
    		tab-authenticated="{{isAuthenticated}}"
    	    tab-id="user-login"
            tab-title="Login"
            tab-icon="login" ></user-login>
            
        <playlist-pane
            tab-id="playlist-pane"
            tab-title="Playlist"
            tab-icon="list-ol"></playlist-pane>
        <media-panel
            tab-id="media-panel"
            tab-title="Media"
            tab-icon="youtube"></media-panel>
    </sol-tabs>
    <toast-notification namespace="toast"></toast-notification>
    <confirmation-dialog namespace="app"></confirmation-dialog>
    <app-footer id="footer"></app-footer>
</main>
